/* juste le style général qui s'applique à tout les niveaux/éléments de notre application 
le @import colors ne marche pas pour moi, j'ai mis les couleurs dans app.vue */
@import "colors.css";

@font-face {
  font-family: "GillSansMT";
  src: url("../assets/fonts/gill-sans-mt-regular.ttf") format("truetype");
  font-style: normal;
}

main {
  background-color: rgb(255, 255, 255);
}

.img-title:hover {
  border: 2px solid red;
}

* {
  font-family: "GillSansMT", sans-serif;
}

.custom-application {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255) !important;
}

/* barre de recherche pour la carte */
.mapBtn {
  z-index: 1000;
}

.custom-toolbar {
  position: absolute;
  top: 2%;
  left: 35%;
  transform: translateX(-50%);
  width: calc(100% - 140px);
  background-color: rgba(255, 255, 255, 0.738);
  border-radius: 8px;
  z-index: 1000;
}

.custom-switch-button {
  position: absolute;
  top: 2%;
  left: 85%;
  transform: translateX(-50%);
  width: calc(100% - 100px);
  background-color: rgba(255, 255, 255, 0.738);
  border-radius: 8px;
  z-index: 800;
  width: 25%;
}
