/* juste le style général qui s'applique à tout les niveaux/éléments de notre application 
le @import colors ne marche pas pour moi, j'ai mis les couleurs dans app.vue */
@import "colors.css";

@font-face {
  font-family: "GillSansMT";
  src: url("../assets/fonts/gill-sans-mt-regular.ttf") format("truetype");
  font-style: normal;
}

main {
  background-color: rgb(255, 255, 255);
}

.img-title:hover {
  border: 2px solid red;
}

* {
  font-family: "GillSansMT", sans-serif;
}

.custom-application {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255) !important;
}

/* barre de recherche pour la carte */
.mapBtn {
  z-index: 1000;
}

.custom-toolbar {
  position: absolute;
  top: 2%;
  left: 35%;
  transform: translateX(-50%);
  width: calc(100% - 140px);
  background-color: rgba(255, 255, 255, 0.738);
  border-radius: 8px;
  z-index: 1000;
}

.custom-switch-button {
  position: absolute;
  top: 2%;
  left: 85%;
  transform: translateX(-50%);
  width: calc(100% - 100px);
  background-color: rgba(255, 255, 255, 0.738);
  border-radius: 8px;
  z-index: 800;
  width: 25%;
}

/* Liste de suggestions */
.custom-suggestions-list {
  position: absolute;
  top: 10%; /* Ajuste cette valeur pour aligner parfaitement la liste */
  left: 35%;
  transform: translateX(-50%);
  width: calc(100% - 140px);
  max-height: 300px; /* Limite la hauteur pour éviter le débordement */
  overflow-y: auto; /* Ajoute un scroll si nécessaire */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Éléments individuels dans la liste */
.custom-suggestion-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.custom-suggestion-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.custom-toolbar-wrapper {
  position: relative; /* Définit ce conteneur comme référence pour les enfants en position absolue */
  width: 100%; /* Prend toute la largeur de l'écran ou du conteneur parent */
  z-index: 1000; /* S'assure que les éléments enfants restent au-dessus de la carte */
}
